.idea/*
*/.idea/*
config.php
!functions/Fim/Config.php
!moderate/actions/config.php
querylog
*.class
vendor/google/apiclient-services/src/Google/*
!vendor/google/apiclient-services/src/Google/Oauth2/*
!vendor/google/apiclient-services/src/Google/Oauth2.php
vendor/kwn/php-rdkafka-stubs/*
webpro/client/js/fim-dev/*.js
webpro/client/js/fim-dev/*.js.map
!webpro/client/js/fim-dev/autoEntry.js
!webpro/client/js/fim-dev/fim-popup.js
composer.phar
composer.lock