.idea/*
*/.idea/*
config.php
querylog
*.class
vendor/google/apiclient-services/src/Google/*
!vendor/google/apiclient-services/src/Google/Oauth2/*
!vendor/google/apiclient-services/src/Google/Oauth2.php
webpro/client/js/fim-dev/*.js
webpro/client/js/fim-dev/*.js.map
!webpro/client/js/fim-dev/autoEntry.js
!webpro/client/js/fim-dev/fim-popup.js