[submodule "functions/oauth2-server-php"]
	path = functions/oauth2-server-php
	url = https://github.com/bshaffer/oauth2-server-php
[submodule "functions/Database"]
	path = functions/Database
	url = https://github.com/FreezeWarp/freeze-db-abstraction
