/********************************
 *** FreezeMessenger Styling ****
 ********************************/

/* General */
* { /* This sets the box model to border-box, which is defined in CSS3 and supported by every browser. Border-box defines widths as including the border, which makes percentages like 20% and 80% work when one of the elements has a border. */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #333 url('https://www.victoryroad.net/images/zoroark/bg-lines.png') repeat top left;
  margin-top: 3px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
  padding: 0px;
  font-family: Ubuntu, Calibri, Verdana;
  overflow-x: hidden;
}



/***** Menu *****/
#menu {
  float: left;
  width: 25%;
}
#menu div, #menu ul {
  width: 100%;
}
#rooms {
  max-height: 300px;
  overflow: auto;
}


/***** Content *****/

#content {
  float: right;
  width: 75%;
}

#buttonMenuLeft {
  float: left;
  width: 36px;
  display: block;
}

#messageInput {
  display: block;
  height: 100px;
  padding: 3px;
  float: right;
}

#messageInputContainer {
  white-space: nowrap;
  padding-left: 3px;
  border: 1px solid black;
}

#youtubeResultsContainer {
  height: 320px;
  overflow: auto;
}

#textentryBoxUpload, #textentryBoxYoutube, #textentryBoxUrl {
  display: none;
  text-align: center;
}

#fileUpload, #urlUpload {
  width: 300px;
}

#activeUsers {
  min-height: 20px;
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
}

#title {
  text-align: left;
}

#rightTitle {
  width: 30%;
  min-width: 140px;
}

#messageList {
  height: 440px;
  overflow: auto; 
}



/***** Other Crap *****/


.leftPart {
  float: left;
  text-align: left;
}
.rightPart {
  float: right;
  text-align: right;
}

.username {
  font-weight: bold; 
}
.usernameTable span {
  width: 150px;
  overflow: hidden;
  display: inline-block; 
  word-wrap: normal;
  white-space: nowrap;
}

.inline {
  display: inline;
}
.inlineBlock {
  display: inline-block;
}
.hidden {
  display: none;
}

.embedImage {
  max-width: 300px;
  max-height: 300px;
  border: none;
}

a img:hover {
  opacity: .5;
}
img.standard {
  height: 16px;
  width: 16px;
}

button.standard {
  height: 32px;
  width: 32px;
  padding: 7px !important;
}
select.standard {
  height: 28px;
}

iframe.nodisplay {
  width: 0px;
  height: 0px;
  border: 0px; 
  display: none; /* The above are probably redundant, I suppose. */
}

table.rowHover tr:hover { /* This is used in the AdminCP as a quick hack to make things easier to understand. */
  opacity: .8; 
}
table.page {
  border-spacing: 0px;
  width: 100%;
  padding: 5px;
}

.messageLine {
  margin: 4px 0px;
  display: block;
}

h2, h3, h4 {
  margin: 0px; 
}

/* This attempts to remove styling which breaks the icons in most browsers (except Webkit). To be honest, I'm guessing I did something else wrong, but I can't for the life of my figure out what. */
.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon {
  /* Alright, first of all, these two declarations are an age-old approach to center block elements in other block elements. However, today they don't work in modern IE & Webkit. Yet, this doesn't matter since those browsers already center the icon without them. Its only Firefox (which still supports them) that needs it.*/
  margin-right: auto !important;
  margin-left: auto !important;

  /* Next up, we reset jQueryUI default stylings, since for one reason or another they break in both Firefox & (modern) IE. This is probably because of some improper declaration elsewhere, but no matter what it works. */
  top: 0 !important;
  left: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;

  /* Finally, position:relative is more predictable then position:absolute, which is also used in jQueryUI. */
  position: relative;
}








/********************************
 ***** Context Menu Styling *****
 ********************************/

.contextMenu { position: absolute; width: 120px; z-index: 99999; /*  border: solid 1px #CCC; background-color: #7f7f7f;*/ border: 1px solid black; background: rgba(191,191,191,.85); padding: 0px; margin: 0px; display: none; }
.contextMenu li { list-style: none; padding: 0px; margin: 0px; }
.contextMenu a { text-decoration: none; display: block; line-height: 20px; height: 20px; outline: none; padding: 1px 5px; padding-left: 10px; }
.contextMenu li.hover a { background: rgba(210,210,210,.95); }
.contextMenu li.disabled a { cursor: default; }
.contextMenu li.hover.disabled a { background-color: transparent; }
.contextMenu li.separator { border-top: 1px solid black; }