.hide-header .column-header-background { 
    visibility: hidden; -fx-padding: -1em;
}

.buttons {
    -fx-max-width: 100px;
    -fx-min-width: 100px;
}

.tableview {

}

.settings_gear {
    -fx-graphic: url("Images/settings_gear.png");
    -fx-graphic-text-gap : 10;
}

#avatar {
    -fx-alignment: center;
}

.tab *.tab-label {
    -fx-rotate: 90;
}

.tab {
    -fx-padding: 3em 0.5em 3em 0.5em;
}
